/*Currently trying to put a banner at top, proably start with the banner*/
html, body {
	/*height: 100%;
	margin: 0;
	padding: 0;
	background-attachment: fixed;*/
	background-color: lightblue;
	min-height: 100%;
}


.outside {
	display: flex;
	justify-content: center;
}

.inside {

	background-color: #efdecd;
	height: 1070px;
	margin: 80px;
	width: 1200px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.top-banner {
	background-color: blue;
	height:80px;
	width:1920px;
	bottom:300px;
}
