body {

  height: 1700px;
  width: 100%;
  margin: 0;
  padding: 0;

}

.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 130px 100px repeat(4, 300px);

}

.coverup{
  background: powderblue;
  height: 1000px;
  grid-column: 8/9;
  grid-row: 1/auto;
  
}
.backdrop {
  width: 1fr;
  height:  1000px;
  background-image: url("/images/ProffesionalBG.jpg");
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  left: -62px;
  grid-column: 1/9;
  grid-row: 1/4;
  margin: 0;
  padding: 0;


}



.text-space {
  grid-row: 4/ auto;
  grid-column: 2/8;
  background: white;
}

.yteb {
  border: 5px solid var(--black);
  border-style: double;
  grid-row: 2/4;
  grid-column: 3/7;
  background: white;
  z-index: 2;

  p {
    display: grid;
    align-items: center;
    justify-content: center;
  }
}
.pic {
  background-image: url("/images/mountain_logo.jpg");
}

