$font-stack: Helvetica, sans-serif;
$primarybg-color: #333;
$font-color: #008B8B;
$brightpup: #D8BFD8;
$logo_height: 480px;
@media only screen and (max-width: 768px){
  body{
    background-image: url("/images/puta.jpg");
    margin: 0;
    background-size: contain;
    height: 100%;
    .container-fluid {
      #top-row {
        display:none;
      }

    }
  }

}

@media only screen and (min-width: 769px){
  html, body {
    height: 1200px;

    .container-fluid {
      height: 100%;
      /* border: solid red 2px; */

      #top-row {
        /*background-color: $primarybg-color;*/
        color: $font-color;
        height: 40%;
        width: 100%;

        /*cover up left side with image*/
        /*right border*/
        #right {
        }
        #logo {
          margin: 0;
          background-position: center;
          background-size: cover;
          background-image: url("/images/montain_logo.jpg");
          width: 100%;
          height: $logo_height; 
        }
      }
    }
  }  
  #bottom-row {
    background-color: #f5f5f5;
    color: $font-color;

  }
}
