*, ::before, ::after {
  box-sizing: inherit;
}

html, body{
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}


nav{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: repeat(auto-fit, minmax(50px, 1fr));
    justify-items: start;
    align-items: center;
    position: absolute;
    z-index: 2;
    color: white;

    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    .fab{
        justify-self: center;
        color: white;
        font-size: 1.5em;
        align-self: center;
    }

    .nav
    {
        color: white;
        letter-spacing: 1px;
    }
}
blockquote{
    font-family: 'Indie Flower', cursive;
    justify-self: center;
    transform: translate(20px, -170px);
    letter-spacing: 2px;
    align-self: center;
    font-size: 3.5em;
    color: white;
    grid-column: 2/3;
    grid-row: 2/3;
}
.overlay{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-gap: 5px;
    grid-template-rows: repeat(auto-fill, 100px);
    grid-auto-flow: dense;
    height: 100vh;
    width: 100vw;
}
.loader{

    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;            
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.item{
    margin: 0;
    padding: 0;

    img{
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &.doggo-sun{
        grid-row: 7/span 2;
    }
    &.doggo-confused{
        grid-column: 1/span 1;
    }
    &.doggo-white{
        grid-column: 1  / 2;
        grid-row: 5/span 4;
    }
    &.doggo-top{
        grid-column: 1/span 4;
        grid-row: 1/ span 3;
    }
    &.doggo-shake{
        grid-column: 4/span 1;
        grid-row: 4/7;
    }
    &.doggo-brown{
        grid-column: 2/4;
        grid-row: 4/span 5;
    }
    &.v2{
        grid-row: span 2;
    }
    &.v3{
        grid-row: span 3;
    }

    &.v4{
        grid-row: span 4;
    }  

    &.v5{
        grid-row: span 5;
    }

    &.v6{
        grid-row: span 6;
    }

    &.h2{
        grid-column: span 2;
    }

    &.h3{
        grid-column: span 3;
    }

    &.h4{
        grid-column: span 4;
    }

    &.h5{
        grid-column: span 5;
    }

    &.h6{
        grid-column: span 6;
    }


}



