
.content{
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr 1fr 1fr);
    justify-items: start;
   /* grid-template-areas: "left-sidebar" "content" "right-sidebar";*/
    p{
    }
    margin: 0;
    padding: 0;
    .center-container{
        background: black;
        color: white;

    }
}