*, ::before, ::after{
	box-sizing: border-box;
}

body, html{
	box-sizing: border-box;
	padding: 0;
	margin: 0;

}


/****Navigation***/
.navigation-bar{
	position: fixed;
	height: auto;
	z-index: 1;
	padding: 0;
	margin: 0;
}

.nav-list{
	position: relative;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;

	height: auto;
	padding: 0px;
	width: 100vw;

	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	grid-template-columns: repeat(auto-fit, minmax(50px,1fr));


	list-style: none;
	li{
		width: 100%;
		height: auto;

		display: flex;
		justify-content: center;
		align-self: center;

		background: #000321;
		a{
			font-family: "Indie Flower", cursive;
			// color:white;
			color: #ffffff;
			align-self: center;

		}
	}
}

/**doggo quote**/
.doggo{
	position: relative;
	top: 35px;


	height: auto;
	width: 100%;
	display: grid;
	// background-image: radial-gradient(ellipse at top, black, transparent),
					  // radial-gradient(ellipse at bottom, black, transparent);		
	background: linear-gradient(#000321, #6b4949);
	color: white;
	grid-template-columns: repeat(3, 1fr);
	h1{
	position: relative;
	top: -10px;
	left: 15px;
	margin-top: 0;
	margin-bottom: 0;
		font-family: "Indie Flower", cursive;
		letter-spacing: 2px;
		grid-column: 2/3;
	}
}

/*****Gallery****/
.gallery{

	position: relative;
	top: 35px;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(3, 1fr);
	img{
		width: 50vw;
		height: 100%;
		object-fit: cover;
	}
	.doggo-upsidedown{
		// object-fit: 
	}
}



