html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-attachment: fixed;
	background-repeat: no-repeat;
}


.outer-container {
	min-height:100%;
	/*background-image: linear-gradient(blue, red);*/
	background-color: grey;
	background-position: center;
}

/*Container to get that damn link fixed*/
#link-container {
	justify-content: flex-end;
}

.text-container {
	height: 100%;
	background-color: gold;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}
