//vars
$albumWidth: 130px;
$albumHeight: 130px;
//endvars

* {
	box-sizing: inherit;
}

body, html{
	background: black;
	padding: 0 0;
	margin: 0 0;
	height: 100%;
}

.test-overlay{
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	height: 100%;
	width: 100%;

	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(3,1fr);

}
/***Loading Screen***/
.loading-screen{
	position: static;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	height: 100%;
	width: 100%;



	/**img**/
	.overlay{
		background: rgba(0,0,0,0.2);
		grid-row: 1/-1;
		grid-column: 1/-1;
		height: 100%;
		width: 100%;
		z-index: 2;
	}
	img{
		height: 100%;
		width: 100%;
		filter: contrast(1.1);
		grid-column: 1/-1;
		grid-row: 1/-1;

	}
	
	.vinyl-bg{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-column: 1/-1;
		grid-row: 1/4;

		background: url("/images/chaedles-picks.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;


		height: 100%;
		width: 100%;

	}

	.btn-load-page{
		border-radius: 30px;
		grid-column: 2;
		grid-row: 3;

		justify-self: center;
		align-self: center;

		width: 100px;
		height: 70px;

		margin-left: 32px;
		z-index: 31;
		color: white;
		background-color: transparent;

		opacity: 0;
	}
	// @media only screen and (max-width: 1200px){
	// 	position: relative;
	// }
}

@keyframes slideLeft{
	0% {transform: translate3d(0, 0, 0);}
	30% {transform: translate3d(30px, 0, 0);}
	100% {transform: translate3d(-3000px, 0, 0);}
}
/***END LOADING SCREEN***/

.grid{
	height: auto;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-template-rows: repeat(6, 1fr);
}

#SOTW{
	width: 300px;
	height: 300px;

	background: url(/images/loading.gif) 50% no-repeat;

	margin: 0;

	padding: 0;

	grid-row: 3/4;
	grid-column: 3/4;

	border-radius: 15px 80px;




}	
.background{
	height: 100%;
	width: 100%;
	background: black;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	// overflow-y: hidden;//lmao help me
	height: 100%;

	/**Album images*/
	.gallery{
		margin-top: 20px;
		margin-left: 40px;
		grid-row: 1/-1;
		display: grid;
		width: 400px;
		height: 700px;
		grid-row-gap: 35px;
		grid-column-gap: 20px;
		grid-template-columns: repeat(2, $albumWidth);
		grid-template-rows: repeat(4, minmax(100px, #{$albumHeight}));
		// grid-template-rows: auto;
	}

	.gallery-img{
		margin: 0;
		padding: 0;

		width: $albumWidth;
		height: $albumHeight;
		object-fit: cover;

		background: url(/images/loading.gif) 50% no-repeat;
		border: 1px solid grey;
		border-radius: 15px;



	}

	.sotw-output{
		display: grid;
		justify-content: start;
		align-content: end;
		color: white;
		grid-column: 3/4;
		width: 1fr;
    font-family: 'Dancing Script', cursive;
    opacity: 0;
    transition: opacity 1s;
	}
	.btn-album-overlay{
		display: none;
		background: transparent;
		color: black;
		border-radius: 5px;
	}
	.music-item-wrapper{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		position: relative;
		top: 0;
		left: 0;
		width: $albumWidth;
		height: $albumHeight;
		text-align: center;

		.music-item{
			width: $albumWidth;
			height: $albumHeight;

			align-self: center;
			object-fit: cover;

			border: 5px solid white;
		}
	}

	.music-item-wrapper:after{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0; left: 0;
		background: rgba(black, 0.3);
		opacity: 0;

		transition: all 1s;
		-webkit-transition: all 0.3s;
	}
	.music-item-wrapper:hover:after{
		opacity: 1;
	}
	.music-item-wrapper:hover + .btn-album-overlay, .btn-album-overlay:hover{
		display: block;
		position: absolute;
		// margin-left: 90px;
		// margin-top: 90px;
		margin-left: calc(#{$albumWidth}/2 - 25px);
		margin-top: calc(#{$albumHeight}/2 - 25px);

		content: "";
	}

	.wrapper-grid{
		padding: 0 0 0 0;
		margin: 0 0 0 0;
		display: grid;
		
		justify-content: center;
	}
	

	
	/****end album images****/

	/***bar graphs**/
	
}


.v2{
	grid-row: span 2;
}
//small res screens
@media screen and (max-width: 1024px){
	.background{
		.item-wrapper4{
			grid-column: 2/span 1;
			grid-row: 3;
			width: 100px;

		}
	}
}

@keyframes fadeIn{
	from: {opacity: 0;}
	to: {opacity: 1;}	
}