body, html{
	padding: 0 0;
	margin: 0 0;
	height: 100%;
	box-sizing: border-box;
}
.chaedles-pick-quote{
	color: white;
}
.background{
	background-color: black;
	height: 100%;
	
	// bars image
	.foreground{
		background-image: url("/images/testimg.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;

		grid-column: 1/span 2;
		grid-row: 2/-1;

		height: 500px;
		width: 300px;
		.overlay{
			background-color: rgba(0,0,0,0.1);
			height: 100%;
			width: 50%;
		}
	}
}

.music-item{
	height: 200px;
	width: 200px;
	z-index: 2;
	object-fit: contain;
}

.item1{
	grid-column: 6/span 1;
	grid-row: 2/span 1;
	background: white;
}
.item2{
	background: white;
	grid-row: 2/span 1;
	grid-column: 8/span 1;	
}

.item3{
	grid-column: 6/span 1;
	grid-row: 3/span 1;
	background: white;
}
.item4{
	background: white;
	grid-row: 3/span 1;
	grid-column: 8/span 1;	
}

.item5{
	grid-column: 8/span 1;
	grid-row: 3/4;
	background: blue;
}
.item6{
	background: white;
	grid-column: 9/ span 1;	
	grid-row: 3/4;
}
.grid{
	height: 100%;
	display: grid;
	grid-template-columns: repeat(12, 200px);
	grid-template-rows: repeat(auto-fill, 200px);
}

.grid-item{

}