html, body {
	height: 100%;
	margin: 0;
}



.grad {
	background-image: linear-gradient(red, yellow);
	height: 100%;
	width: 100%;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.outer-container {
	min-height:100%;
	background-color: blue;
}

.date-containter {

}

.image-section {
	display: flex;
	justify-content: space-around;
}


/*.section-style {
	margin-right: 1px;
	margin-left: 1px;
	background-color: white;
}*/
